body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px;
}

.container {
  padding: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}
